body {
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER  */

.header-top {
    background-color: black;
    height: 50px;
    position: relative;
}

.header-top img {
    width: 7%;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}


.header-bottom {
    height: 80px;
    /* background-color: red; */
}

.header-bottom .play-logo {
    margin: 0 0.8em;
}

.header-bottom li a {
    font-size: 1.3em;
}

.header-bottom span .fa-search {
    vertical-align: middle;
    padding: 0.3em;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.header-bottom .link-drop {
    font-size: 0.9em;
}

.nav-link .chevron {
    width: 8%;
    margin-left: 5px;
}